
<!DOCTYPE html>

<script type="text/javascript">
    var data;
    var method;
    

    function getMethod(){
        method = document.getElementById("method");
       let selectedMethod = method.options[method.selectedIndex].text;
       document.getElementsByTagName("form")[0].setAttribute("method",selectedMethod);
    }


   
</script>

<style>

    body{ 
             
            border: 1px solid;
            margin: auto;           
    }
    h1{
        text-align: center;
    }

    
    tr,td{
        border:1px solid;
    }
    .formTable{
        width:40%;
    }

    
    
</style>


<html>
    <head>
    
        <title></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        
    </head>
        
    

    <body>
       <div>
          
            <form action="api/inventory/items/" method="" enctype="application/x-www-form-urlencoded">
                <table id="formTable">
                    <tr><td>METHOD:
                        <select id="method" onchange="getMethod()">
                                <option value="GET">GET</option>
                                <option value="POST">POST</option>
                                <option value="PUT">PUT</option>
                                <option value="DELETE">DELETE</option>
                        </select></td></tr>
                   
                    <tr><td>ID:</td><td><input id="id" name ="id" type="text"></td></tr>
                    <tr><td>Name:</td><td><input name ="name" type="text"></td></tr>
                    <tr><td> Quantity:</td><td><input name ="qty" type="text"></td></tr>
                    <tr><td>Amount:</td><td><input  name ="amount"type="text"></td></tr>
                    <tr><td colspan="2"><input type="submit" value="submit"></td></tr>
                </table>
            </form>
        </div>
        <h1><%= message %></h1>
        <table>
            <tr>
                <th>ID</th> 
                <th>NAME</th>
                <th>QUANTITY</th>
                <th>AMOUNT</th>
            </tr>
           
            <% for(var i=0; i < data.length; i++) { %>
                <tr>
                  <td><%= data[i].id %> &nbsp;&nbsp;</td>
                  <td><%= data[i].name %>&nbsp;&nbsp;</td>
                  <td><%= data[i].qty %>&nbsp;&nbsp;</td>
                  <td><%= data[i].amount %>&nbsp;&nbsp;</td>
                </tr>
             <% } %>
        </table>

    </body>
    
</html>